*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: brown;
    color: white;
}
.container{
    height: 100vh;
  display: grid;
  place-items: center;
   
}
.border{
    border:1px solid;
    padding:10px;
    width: 350px;
    font-size: 50px;
}